@model string

<div class="text-center">
    <h3>Success! Your shortened url: </h3>

    <div class="alert alert-success" role="alert">
        <a href="@Model">@Model</a>
    </div>

    <a href="/">Generate another one</a>
</div>
