@{
    ViewData["Title"] = "Task";
}
<div class="container-fluid">
    <section id="content">
        <div>
            <h1 class="display-4">Task Description</h1>
            <div class="alert alert-success" role="alert">
                <h4>Build a URL shortening service like <a href="https://tinyurl.com" target="_blank">TinyURL</a>. This service will provide short aliases redirecting to long URLs.</h4>
            </div>

            <h5>Why do we use Url shortening?</h5>
            <p>URL shortening is used to create shorter aliases for long URLs. We call these shortened aliases “short links.” Users are redirected to the original URL when they hit these short links. Short links save a lot of space when displayed, printed, messaged, or tweeted. Additionally, users are less likely to mistype shorter URLs.</p>
            <p>For example, if we shorten the following URL: <code>https://www.some-website.io/realy/long-url-with-some-random-string/m2ygV4E81AR</code></p>
            <p>We would get something like this: <code>https://short.url/xer23</code></p>
            <p>URL shortening is used to optimize links across devices, track individual links to analyze audience, measure ad campaigns’ performance, or hide affiliated original URLs.</p>

            <h5>URL shortening application should have:</h5>
            <p>
                <ol>
                    <li>A page where a new URL can be entered and a shortened link is generated. You can use <a asp-controller="Home" asp-action="Index">Home page</a>.</li>
                    <li>A page that will show a list of all the shortened URL’s.</li>
                </ol>
            </p>

            <h5>Functional Requirements:</h5>
            <p>
                <ol>
                    <li>Given a URL, our service should generate a shorter and unique alias of it. This is called a short link. This link should be short enough to be easily copied and pasted into applications.</li>
                    <li>When users access a short link, our service should redirect them to the original link.</li>
                    <li>Application should store logs information about requests.</li>
                </ol>
            </p>

            <h5>Non-Functional Requirements:</h5>
            <p>
                <ol>
                    <li>URL redirection should happen in real-time with minimal latency.</li>
                    <li>Please add small project description to Readme.md file.</li>
                </ol>
            </p>

            <h5>During implementation please pay attention to: </h5>
            <p> <ol>
                <li>Application is runnable out of box. If some setup is needed please provide details on ReadMe file.</li>
                <li>Project structure and code smells.</li>
                <li>Design Principles and application testability.</li>
                <li>Main focus should be on backend functionality, not UI.</li>
                <li>Input parameter validation.</li>
                <li>Please, don't use any library or service that implements the core functionality of this test.</li>
            </ol></p>

            <h5>Other recommendation:</h5>
            <p>
                <ol>
                    <li>You may change UI technology to any other you are most familiar with.</li>
                    <li>You can use InMemory data storage.</li>
                    <li>You can use the Internet.</li>
                </ol>
            </p>
            <h4>May the force be with you {username}!</h4>
        </div>
    </section>
</div>

